In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("test.csv")

In [6]:
df

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144363,144364,0,0,0,0,0,0,0,0,0,...,0,0,2,1,1,0,0,0,0,0
144364,144365,0,0,0,0,0,0,0,0,0,...,0,1,4,1,11,0,0,0,0,0
144365,144366,0,1,0,0,0,0,1,1,0,...,0,1,3,1,1,0,0,1,0,0
144366,144367,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,0,0,0,1,0
144367,144368,0,0,0,0,0,0,0,0,0,...,0,0,9,1,6,0,0,0,0,0

In [10]:
df.shape

(144368, 94)

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,144368.0,72184.500000,41675.596169,1.0,36092.75,72184.5,108276.25,144368.0
feat_1,144368.0,0.386201,1.468882,0.0,0.00,0.0,0.00,64.0
feat_2,144368.0,0.263597,1.261908,0.0,0.00,0.0,0.00,45.0
feat_3,144368.0,0.899819,2.949106,0.0,0.00,0.0,0.00,84.0
feat_4,144368.0,0.780727,2.846181,0.0,0.00,0.0,0.00,82.0
...,...,...,...,...,...,...,...,...
feat_89,144368.0,0.473284,1.617853,0.0,0.00,0.0,0.00,62.0
feat_90,144368.0,0.814010,4.603653,0.0,0.00,0.0,0.00,119.0
feat_91,144368.0,0.271161,2.073627,0.0,0.00,0.0,0.00,74.0
feat_92,144368.0,0.388348,1.006935,0.0,0.00,0.0,0.00,22.0
feat_93,144368.0,0.132675,1.302695,0.0,0.00,0.0,0.00,91.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144368 entries, 0 to 144367
Data columns (total 94 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       144368 non-null  int64
 1   feat_1   144368 non-null  int64
 2   feat_2   144368 non-null  int64
 3   feat_3   144368 non-null  int64
 4   feat_4   144368 non-null  int64
 5   feat_5   144368 non-null  int64
 6   feat_6   144368 non-null  int64
 7   feat_7   144368 non-null  int64
 8   feat_8   144368 non-null  int64
 9   feat_9   144368 non-null  int64
 10  feat_10  144368 non-null  int64
 11  feat_11  144368 non-null  int64
 12  feat_12  144368 non-null  int64
 13  feat_13  144368 non-null  int64
 14  feat_14  144368 non-null  int64
 15  feat_15  144368 non-null  int64
 16  feat_16  144368 non-null  int64
 17  feat_17  144368 non-null  int64
 18  feat_18  144368 non-null  int64
 19  feat_19  144368 non-null  int64
 20  feat_20  144368 non-null  int64
 21  feat_21  144368 non-null  int64
 22  feat_22  144368 non-null  int64
 23  feat_23  144368 non-null  int64
 24  feat_24  144368 non-null  int64
 25  feat_25  144368 non-null  int64
 26  feat_26  144368 non-null  int64
 27  feat_27  144368 non-null  int64
 28  feat_28  144368 non-null  int64
 29  feat_29  144368 non-null  int64
 30  feat_30  144368 non-null  int64
 31  feat_31  144368 non-null  int64
 32  feat_32  144368 non-null  int64
 33  feat_33  144368 non-null  int64
 34  feat_34  144368 non-null  int64
 35  feat_35  144368 non-null  int64
 36  feat_36  144368 non-null  int64
 37  feat_37  144368 non-null  int64
 38  feat_38  144368 non-null  int64
 39  feat_39  144368 non-null  int64
 40  feat_40  144368 non-null  int64
 41  feat_41  144368 non-null  int64
 42  feat_42  144368 non-null  int64
 43  feat_43  144368 non-null  int64
 44  feat_44  144368 non-null  int64
 45  feat_45  144368 non-null  int64
 46  feat_46  144368 non-null  int64
 47  feat_47  144368 non-null  int64
 48  feat_48  144368 non-null  int64
 49  feat_49  144368 non-null  int64
 50  feat_50  144368 non-null  int64
 51  feat_51  144368 non-null  int64
 52  feat_52  144368 non-null  int64
 53  feat_53  144368 non-null  int64
 54  feat_54  144368 non-null  int64
 55  feat_55  144368 non-null  int64
 56  feat_56  144368 non-null  int64
 57  feat_57  144368 non-null  int64
 58  feat_58  144368 non-null  int64
 59  feat_59  144368 non-null  int64
 60  feat_60  144368 non-null  int64
 61  feat_61  144368 non-null  int64
 62  feat_62  144368 non-null  int64
 63  feat_63  144368 non-null  int64
 64  feat_64  144368 non-null  int64
 65  feat_65  144368 non-null  int64
 66  feat_66  144368 non-null  int64
 67  feat_67  144368 non-null  int64
 68  feat_68  144368 non-null  int64
 69  feat_69  144368 non-null  int64
 70  feat_70  144368 non-null  int64
 71  feat_71  144368 non-null  int64
 72  feat_72  144368 non-null  int64
 73  feat_73  144368 non-null  int64
 74  feat_74  144368 non-null  int64
 75  feat_75  144368 non-null  int64
 76  feat_76  144368 non-null  int64
 77  feat_77  144368 non-null  int64
 78  feat_78  144368 non-null  int64
 79  feat_79  144368 non-null  int64
 80  feat_80  144368 non-null  int64
 81  feat_81  144368 non-null  int64
 82  feat_82  144368 non-null  int64
 83  feat_83  144368 non-null  int64
 84  feat_84  144368 non-null  int64
 85  feat_85  144368 non-null  int64
 86  feat_86  144368 non-null  int64
 87  feat_87  144368 non-null  int64
 88  feat_88  144368 non-null  int64
 89  feat_89  144368 non-null  int64
 90  feat_90  144368 non-null  int64
 91  feat_91  144368 non-null  int64
 92  feat_92  144368 non-null  int64
 93  feat_93  144368 non-null  int64
dtypes: int64(94)
memory usage: 103.5 MB